@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

h1{
    display:inline-block;
    position:relative;
    font-family: 'Dancing Script', cursive;
}

h1::after, h1::before{
    content:' ';
    position:absolute;
    width: 120px;
    height: 3px;
    background-color: rgb(183, 222, 220);
    top: 0.6em;
    transform:scale(0);
    transition:all 0.2s ease-in ;
}

h1:hover::before, h1:hover::after{
    transform:scale(1);
}

h1::before{
    left: -140px;
}

h1::after{
    right: -140px;
}